<!--
  Generated template for the RedeemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ng-container  *ngIf="!view_redeem">
    <ion-content padding class="bg">
        <ion-grid>
            <ion-row justify-content-center align-items-center>
                <img height="400"  src="assets/imgs/logo.png"> 
            </ion-row>
        </ion-grid>
        <!-- <button (click)="backToHome()" ion-button>BACK</button> -->
        <ion-grid  style="margin-top: 10px;">

            <ion-row justify-content-center align-items-center>
                <div style="font-size: 48px; color: #fff; padding: 10px 0px; font-weight: bold;" >
                    REDEEM CODE
                </div>
            </ion-row>
        </ion-grid>
    
        <ion-grid>
            <ion-row justify-content-center align-items-center >
                <!-- <button ion-button round large (click)="testapi()" >testapi</button> -->
                <img height="300" *ngIf="!process_running" src="assets/imgs/btn_scan1.png"  (click)="scanQRcode(qrcode)"> 
                <img height="300" *ngIf="process_running"  src="assets/imgs/btn_scan2.png" > 
            </ion-row>
            <ion-row justify-content-center align-items-center >
                <div class = "h3w">
                    PRESS A BUTTON TO SCAN
                </div>
            </ion-row>
                
        </ion-grid> 
        <ion-grid>
            <ion-row justify-content-center align-items-center >
                <button  class = "btn_close" ion-button large  color="light" (click)="backToHome()"  >CLOSE</button>
            </ion-row>
    
        </ion-grid>
    
    </ion-content>
</ng-container>


<ng-container  *ngIf="view_redeem">
    <!-- <ion-header>

            <ion-grid>
            <ion-row  center>
                <ion-col  *ngIf="status_re == 1"   col-12 center> 
                <div class = "h1w">
                    <div>Already redeemed</div>
                </div>
                </ion-col>
                <ion-col  *ngIf="status_re == 0"   col-12 center> 
                <div class = "h1w">
                    <div>Not yet redeemed</div>
                </div>
                </ion-col>
            </ion-row>
            </ion-grid>

    </ion-header> -->


    <ion-content padding class="bg">
        <ion-grid>
            <ion-row justify-content-center align-items-center>
                <img height="200"  src="assets/imgs/logo.png"> 
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row  center style="margin-top: 40px;">
                <ion-col  *ngIf="status_re == 1"   col-12 center> 
                <div class = "h3w">
                    Already redeemed
                </div>
                </ion-col>
                <ion-col  *ngIf="status_re == 0"   col-12 center> 
                <div class = "h3w">
                    You did't redeem yet
                </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        
      <ion-grid>
       <ion-row center>
        <ion-col col-12 center> 
      
            <div class="bar">
                <p class="h1w text-name" >{{name}}</p>

                <p class="h2w" style="font-weight: bold;">{{comp_name}}</p>
            </div>

        </ion-col>
      </ion-row>
      
    </ion-grid>


        <ion-grid >
            <ion-row justify-content-center align-items-center  style="padding-right: 45px;">
                <img *ngIf="status_p1 == 0" width="60" height="60" src="assets/imgs/btn-uncheck.png"> 
                <img *ngIf="status_p1 == 1" width="60" height="60" src="assets/imgs/btn_check.png"> 
                <div class = "h3w" style="margin-left: 10px;">
                    Optical 4.0
                </div>
            </ion-row>
            <ion-row justify-content-center align-items-center style="padding-top: 10px;" >
                <img *ngIf="status_p2 == 0" width="60" height="60" src="assets/imgs/btn-uncheck.png"> 
                <img *ngIf="status_p2 == 1" width="60" height="60" src="assets/imgs/btn_check.png"> 
                <div class = "h3w" style="margin-left: 10px;">
                    Frame Station
                </div>
            </ion-row>
            <ion-row justify-content-center align-items-center style="padding-top: 10px;">
                <img *ngIf="status_p3 == 0" width="60" height="60" src="assets/imgs/btn-uncheck.png"> 
                <img *ngIf="status_p3 == 1" width="60" height="60" src="assets/imgs/btn_check.png"> 
                <div class = "h3w" style="margin-left: 10px;">
                    Digital Station
                </div>
            </ion-row>
        </ion-grid>
        <ion-grid >
            <ion-row center>
            <ion-col col-12 center> 
        
            <div class = "h3w">
                <button *ngIf="submit_redeem && status_re == 0 && this.status_p1 == 1  && this.status_p2 == 1  && this.status_p3 == 1"  class = "btn_home" ion-button large color="light" (click)="redeem()" >REDEEM CODE</button>
                <!-- <button *ngIf="!submit_redeem" class = "btn_home" ion-button large color="light" disabled >REDEEM CODE</button> -->
            </div>
            
            </ion-col>
            </ion-row>
        </ion-grid>

        <!-- <ion-grid style="margin-top: 10px;">
            <ion-row justify-content-center align-items-center >
            <button *ngIf="submit_redeem && status_re == 0 && this.status_p1 == 1  && this.status_p2 == 1  && this.status_p3 == 1" ion-button round large style="background-color: #7330F1;" (click)="redeem()" >Redeem Code</button>            
            <button *ngIf="!submit_redeem" ion-button round large style="background-color: #7330F1;" disabled >Redeem Code</button>            
            </ion-row>
        </ion-grid> -->

        <ion-grid style="margin-top: 50px;">
            <ion-row center>
                <ion-col col-12 center> 
            
                    <div class = "h3w">
                        <div>THANK YOU FOR CHECK IN</div>
                    </div>
                
                </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
            <ion-row justify-content-center align-items-center >
                <button center class="btn_close" ion-button (click)="backToscan()">CLOSE</button> 
            </ion-row>
        </ion-grid>

        
    </ion-content>
</ng-container>