<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<!-- <ion-content padding>
  <ion-grid>
      <ion-row justify-content-center align-items-center style="padding-top: 50%;">
          <button ion-button round large (click)="goCheckipoint(1)"  >Checkpoint 1</button>
      </ion-row>
      <ion-row justify-content-center align-items-center>
          <button ion-button round large color="secondary" (click)="goCheckipoint(2)" >Checkpoint 2</button>
      </ion-row>
      <ion-row justify-content-center align-items-center>
          <button ion-button round large style="background-color: #7330F1;" (click)="goCheckipoint(3)" >Checkpoint 3</button>
      </ion-row>
      <ion-row justify-content-center align-items-center>
          <button ion-button round large color="danger" (click)="goRedeem()" >Redeem code</button>
      </ion-row>
    </ion-grid>
</ion-content> -->


    

<ion-content padding class="bg" >
<ion-grid>
    <ion-row justify-content-center align-items-center>
        <img height="400"  src="assets/imgs/logo.png"> 
    </ion-row>

</ion-grid>

<ion-grid style="margin-top: 10px;">

    <ion-row justify-content-center align-items-center>
        <div style="font-size: 48px; color: #fff; padding: 10px 0px; font-weight: bold;" >
                <div>Please choose checkpoint</div>
        </div>
    </ion-row>
</ion-grid>
            

<ion-grid >
    <ion-row center>
    <ion-col col-12 center> 

    <div class = "h3w">
        <button  class = "btn_home" ion-button large color="light" (click)="goCheckipoint(1)"  >OPTICAL 4.0</button>
    </div>
    
    </ion-col>
    </ion-row>
</ion-grid>
<ion-grid >
    <ion-row center>
    <ion-col col-12 center> 

    <div class = "h3w">
        <button  class = "btn_home" ion-button large color="light" (click)="goCheckipoint(2)" >FRAME STATION</button>
    </div>
    
    </ion-col>
    </ion-row>
</ion-grid>
<ion-grid >
    <ion-row center>
    <ion-col col-12 center> 

    <div class = "h3w">
        <button  class = "btn_home" ion-button large color="light" (click)="goCheckipoint(3)" >DIGITAL STATION</button>
    </div>
    
    </ion-col>
    </ion-row>
</ion-grid>
<ion-grid >
    <ion-row center>
    <ion-col col-12 center> 

    <div class = "h3w">
        <button  class = "btn_home" ion-button large color="light" (click)="goRedeem()" >REDEEM CODE</button>
    </div>

    </ion-col>
    </ion-row>
</ion-grid>

    
</ion-content>