// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,600');

@font-face {
  font-family: gotham-medium;
  src: url('../assets/fonts/gotham/GothamMedium.ttf');
}

// @font-face {
//   font-family: 'gotham-bold';
//   src: url('../assets/fonts/gotham/Gotham-Bold.otf');
// }

* {
  font-family: 'Prompt', sans-serif;
}

ion-button {
    cursor: pointer;
}
    
  .h1w{
    color: #f5f5f5;
    font-size: 72px;
    text-align: center;
  
  }
  .text-name{
    font-weight: bold; 
    font-size: 56px !important; 
    margin: 0;
  }
  .h2w{
    color: #f5f5f5;
    font-size: 48px;  
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Prompt', sans-serif;

  
  }
  
  .h3w{
    color: #f5f5f5;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
  
  }
  .h4w{
    color: #f5f5f5;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
  
  }

  .btn_home{
    color: #0a63ad;
    width: 40%;
    text-align: center;
    font-weight: 600;
    // padding-top: 15px;
  }

  .bar {
    // height: 100px;
    // width : 160%;
    background: url('../assets/imgs/label-big.png');
    // background-size: cover;
    background-size: 100% 100%;
    padding-top: 5px;
    // height: 1110%;
    // margin-top: -85px;
  }
  .bar2 {
    // height: 100px;
    // width : 160%;
    background: url('../assets/imgs/label-big.png');
    // background-size: cover;
    background-size: 100% 100%;
  }
  .checked_p {
    width: 80;
    height: 80;
    background: url('../assets/imgs/check.png');
  }
  
  p.ontop {
    color : #f5f5f5;
    font-size: 50px;
    position: relative;
    top: 1.0em;
    text-align: center;
  
  }
  
  .btn_close{
  
    color:white;
    border: 3px solid white;
    border-radius: 5px ;
    background-color: transparent; 
    width: 40%;
    text-align: center;
    font-weight: 600;
    font-size: 24px;

  }
  .row-center {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}
.bg {
  background-image: url('../assets/imgs/bg.jpg');
  background-size: cover;
  // -webkit-background-image: url('../assets/img/backgroundImg.png');
}

button[disabled], [ion-button][disabled] {
  opacity: 1;
}