<!--
  Generated template for the CheckpointPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>checkpoint {{cptype}}</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content *ngIf="!success" padding class="bg">
    <ion-grid>
        <ion-row justify-content-center align-items-center>
            <img height="400"  src="assets/imgs/logo.png"> 
        </ion-row>
    </ion-grid>
  <!-- <button (click)="backToHome()" ion-button>BACK</button> -->
  <ion-grid  style="margin-top: 10px;">

    <ion-row justify-content-center align-items-center>
        <div style="font-size: 48px; color: #fff; padding: 10px 0px; font-weight: bold;" >
            {{text_choice}}
        </div>
    </ion-row>
  </ion-grid>

  <ion-grid>

    <!-- <ion-row justify-content-center align-items-center>
        <div style="font-size: 38px; color: #fff; padding: 10px 0px;" >
            SCAN FOR CHECK IN
        </div>
    </ion-row> -->
    <!-- <ion-row justify-content-center align-items-center > -->
        <!-- <button ion-button round large (click)="testapi()" >testapi</button> -->
        <!-- <button *ngIf="!process_running" ion-button round large (click)="scanQRcode(qrcode)" color="secondary" >SCAN</button>
        <button *ngIf="process_running" ion-button round large (click)="scanQRcode(qrcode)" color="secondary" disabled >SCAN</button> -->
    <!-- </ion-row> -->
    <ion-row justify-content-center align-items-center >
        <!-- <button ion-button round large (click)="testapi()" >testapi</button> -->
        <img height="300" *ngIf="!process_running" src="assets/imgs/btn_scan1.png"  (click)="scanQRcode(qrcode)"> 
        <img height="300" *ngIf="process_running"  src="assets/imgs/btn_scan2.png"> 
    </ion-row>
    <ion-row justify-content-center align-items-center >
        <div class = "h4w">
            PRESS A BUTTON TO SCAN
        </div>
    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row justify-content-center align-items-center >
        <button  class = "btn_close" ion-button large  color="light" (click)="presentPrompt()"  >CLOSE</button>
        <!-- <button center outline ion-button (click)="backToHome()">CLOSE</button>  -->
    </ion-row>

  </ion-grid>

</ion-content>





<!-- <ion-header *ngIf="success">

    <ion-grid>
      <ion-row center>
        <ion-col col-12 center> 
            <div class = "h1w">
                <div>WELCOME</div>
            </div>
          </ion-col>
      </ion-row>
    </ion-grid>
  
  
  </ion-header> -->
  
  
  <ion-content *ngIf="success" padding class="bg">
  
    <ion-grid>
        <ion-row justify-content-center align-items-center>
            <img height="400"  src="assets/imgs/logo.png"> 
        </ion-row>
    </ion-grid>

      <ion-grid>
       <ion-row center>
        <ion-col col-12 center> 
      
            <div class="bar">
                <p class="h1w text-name" >{{name}}</p>

                <p class="h2w" style="font-weight: bold;">{{comp_name}}</p>
            </div>

        </ion-col>
      </ion-row>
    </ion-grid>
    
      <ion-grid >
          <ion-row center>
              <ion-col col-12 center> 
                  <div class = "h2w" style="margin-top: 50px; font-weight: bold;">
                        {{text_update}}
                    </div>
              </ion-col>
            </ion-row>
        </ion-grid>

      <ion-grid>
        <ion-row justify-content-center align-items-center >
                <button center class="btn_close" ion-button (click)="backToscan()">CLOSE</button> 
        </ion-row>
  
      </ion-grid>
      
  </ion-content>
  
